
<!--<h1 style="text-align: center;margin-bottom: 50px;margin-top: 50px">All Articles</h1>-->
<div style="position:relative;left: 45%">

    <%= will_paginate%>


</div>
<%= render 'articles/listing', obj:@articles %>